.input-component {
    min-height: 250px;
    background-color: #E1F9FE;
    min-width: 240px;
    max-width: 60%;
    text-align: center;
    margin: 0px auto 10px auto;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 1%;

    display: flex;
    flex-direction: column;
}

.input-component button {
    width: 90px;
    transition: .4s;
    border: 2px solid #283D3A;
    background-color: #E1F9FE;
    color: #333;
    font-weight: bold;
    word-break: break-all;
    border-radius: 5px;

    box-sizing: border-box;
    margin-top: 20px;
}

.input-component button:hover {
    background-color: #283D3A;
    color: #fafafa;
}

.input-component textarea {
    resize: vertical;
}