.msg-box {
    background-color: #E1F9FE;
    border-radius: 10px;
    min-width: 200px;
    max-width: 40%;
    word-break: break-all;
    padding: 2%;
    margin: 0px auto 1% auto;
    border: 1px solid #333;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 10px #333;
}

.msg-box textarea {
    resize: vertical;
}

.icon-buttons {
    display: flex;
}

.icon-button {
    width: 40px;
    height: 40px;
}